@charset "utf-8";
/* CSS Document */

#Gnb {
	background-color: #eaf1f7;
	margin: 0px;
	padding: 0px;
	height: 90px;
	
}
#logo {
	height: 55px;
	width: 150px;
	margin: 20px;
	float: left;
}
#h_logo {
	float: right;
	height: 26px;
	width: 95px;
}
#h_menu1 {
	float: left;
	height: 30px;
	width: 70px;
	margin-top: 40px;
	margin-left: 40px;
}
#h_menu2 {
	float: left;
	height: 30px;
	width: 90px;
	margin-top: 40px;
	margin-left: 10px;
}
#h_search {
	float: left;
	height: 35px;
	width: 200px;
	margin-top: 35px;
	margin-left: 10px;
}

#wrap {
  margin: 50px 100px;
  display: inline-block;
  position: relative;
  height: 60px;
  float: right;
  padding: 0;  
}

#search input[type="text"] {
    background: url(../Image/header/search_1.png) no-repeat 8px 1px #C0C9C3;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #d7d7d7;
    width:150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); 
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    background: url(../Image/header/search_1.png) no-repeat 8px 1px #fcfcfc;
    color: #6a6f75;
    width: 200px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    }
#h_menu3 {
	float: right;
	height: 30px;
	width: 200px;
	margin-top: 40px;
	margin-right: 40px;
}
